## Introduction

Introduce the project
team member names

## Data Description

Which data sets and what each row represents

### Importing Necessary Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf

## Importing the dataset

In [4]:
drivers = pd.read_csv("data_raw/drivers.csv")
results = pd.read_csv("data_raw/results.csv")
races = pd.read_csv("data_raw/races.csv")
circuits = pd.read_csv("data_raw/circuits.csv")

In [5]:
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

### Merging Data Sets

In [14]:
merged_ResultstoDriver = pd.merge(results,
                        drivers,
                        on = "driverId",
                        how = "left")

merged_CircuitstoRaces = pd.merge(races,
                        circuits,
                        on = "circuitId",
                        how = "left")

races_merge = pd.merge(merged_ResultstoDriver,
                      merged_CircuitstoRaces,
                      on = "raceId",
                      how = "left")

races_merge.head()
races_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25840 entries, 0 to 25839
Data columns (total 51 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         25840 non-null  int64
 1   raceId           25840 non-null  int64
 2   driverId         25840 non-null  int64
 3   constructorId    25840 non-null  int64
 4   number_x         25840 non-null  object
 5   grid             25840 non-null  int64
 6   position         25840 non-null  object
 7   positionText     25840 non-null  object
 8   positionOrder    25840 non-null  int64
 9   points           25840 non-null  float64
 10  laps             25840 non-null  int64
 11  time_x           25840 non-null  object
 12  milliseconds     25840 non-null  object
 13  fastestLap       25840 non-null  object
 14  rank             25840 non-null  object
 15  fastestLapTime   25840 non-null  object
 16  fastestLapSpeed  25840 non-null  object
 17  statusId         25840 non-null  int64
 18  driverRef        25840 non-null  object
 19  number_y         25840 non-null  object
 20  code             25840 non-null  object
 21  forename         25840 non-null  object
 22  surname          25840 non-null  object
 23  dob              25840 non-null  object
 24  nationality      25840 non-null  object
 25  url              25840 non-null  object
 26  year             25840 non-null  int64
 27  round            25840 non-null  int64
 28  circuitId        25840 non-null  int64
 29  name_x           25840 non-null  object
 30  date             25840 non-null  object
 31  time_y           25840 non-null  object
 32  url_x            25840 non-null  object
 33  fp1_date         25840 non-null  object
 34  fp1_time         25840 non-null  object
 35  fp2_date         25840 non-null  object
 36  fp2_time         25840 non-null  object
 37  fp3_date         25840 non-null  object
 38  fp3_time         25840 non-null  object
 39  quali_date       25840 non-null  object
 40  quali_time       25840 non-null  object
 41  sprint_date      25840 non-null  object
 42  sprint_time      25840 non-null  object
 43  circuitRef       25840 non-null  object
 44  name_y           25840 non-null  object
 45  location         25840 non-null  object
 46  country          25840 non-null  object
 47  lat              25840 non-null  float64
 48  lng              25840 non-null  float64
 49  alt              25840 non-null  object
 50  url_y            25840 non-null  object
dtypes: float64(3), int64(11), object(37)
memory usage: 10.1+ MB

In [21]:
races_merge = races_merge[['raceId', 'country', 'position', 
                           'nationality', 'driverId']]

races_merge.info()
races_merge.head()

print(races_merge['country'].unique())
print(races_merge['nationality'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25840 entries, 0 to 25839
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   raceId       25840 non-null  int64
 1   country      25840 non-null  object
 2   position     25840 non-null  object
 3   nationality  25840 non-null  object
 4   driverId     25840 non-null  int64
dtypes: int64(2), object(3)
memory usage: 1009.5+ KB
['Australia' 'Malaysia' 'Bahrain' 'Spain' 'Turkey' 'Monaco' 'Canada'
 'France' 'UK' 'Germany' 'Hungary' 'Belgium' 'Italy' 'Singapore' 'Japan'
 'China' 'Brazil' 'USA' 'Austria' 'Argentina' 'Portugal' 'South Africa'
 'Mexico' 'Netherlands' 'Sweden' 'UAE' 'Morocco' 'Switzerland' 'Korea'
 'India' 'Russia' 'Azerbaijan' 'Qatar' 'Saudi Arabia']
['British' 'German' 'Spanish' 'Finnish' 'Japanese' 'French' 'Polish'
 'Brazilian' 'Italian' 'Australian' 'Austrian' 'American' 'Dutch'
 'Colombian' 'Portuguese' 'Canadian' 'Indian' 'Hungarian' 'Irish' 'Danish'
 'Malaysian' 'Argentine' 'Czech' 'Belgian' 'Swiss' 'Monegasque' 'Swedish'
 'Venezuelan' 'New Zealander' 'Chilean' 'Mexican' 'South African'
 'Liechtensteiner' 'Rhodesian' 'American-Italian' 'Uruguayan'
 'Argentine-Italian' 'Thai' 'East German' 'Russian' 'Indonesian' 'Chinese']

## Cleaning the Data

In [24]:
# using a dictionary to map corresponding names for the countries 
# to their corresponding nationality

corr_countries = {
    'UK': 'British',
    'Germany': 'German',
    'Spain': 'Spanish',
    'Japan': 'Japanese',
    'France': 'French',
    'Brazil': 'Brazilian',
    'Italy': 'Italian',
    'Australia': 'Australian',
    'Austria': 'Austrian',
    'USA': 'American',
    'Netherlands': 'Dutch',
    'Portugal': 'Portuguese',
    'Canada': 'Canadian',
    'India': 'Indian',
    'Hungary': 'Hungarian',
    'Malaysia': 'Malaysian',
    'Argentina': 'Argentine',
    'Belgium': 'Belgian',
    'Switzerland': 'Swiss',
    'Monaco': 'Monegasque',
    'Sweden': 'Swedish',
    'Mexico': 'Mexican',
    'South Africa': 'South African',
    'Russia': 'Russian',
    'China': 'Chinese'
}

# List of countries
countries_list = ['Australia', 'Malaysia', 'Bahrain', 'Spain', 'Turkey', 'Monaco', 'Canada',
                  'France', 'UK', 'Germany', 'Hungary', 'Belgium', 'Italy', 'Singapore', 'Japan',
                  'China', 'Brazil', 'USA', 'Austria', 'Argentina', 'Portugal', 'South Africa',
                  'Mexico', 'Netherlands', 'Sweden', 'UAE', 'Morocco', 'Switzerland', 'Korea',
                  'India', 'Russia', 'Azerbaijan', 'Qatar', 'Saudi Arabia']

# Recode the countries
recode_countries = [corr_countries.get(country, country) for country in countries_list]

In [27]:
display(races_merge)

       raceId    country position nationality  driverId
0          18  Australia        1     British         1
1          18  Australia        2      German         2
2          18  Australia        3      German         3
3          18  Australia        4     Spanish         4
4          18  Australia        5     Finnish         5
...       ...        ...      ...         ...       ...
25835    1096        UAE       16      German       854
25836    1096        UAE       17      Danish       825
25837    1096        UAE       18     British         1
25838    1096        UAE       19    Canadian       849
25839    1096        UAE       \N     Spanish         4

[25840 rows x 5 columns]